.axis-y {
  width: 20px;
  height: 110px;
}

.axis-2y {
  width: 50px;
  height: 110px;
}

.axis-2y .input .axis-position {
  position: absolute;
  width: 40px;
  height: 5px;
  border-radius: 1px;
  background-color: white;
}
