#throttle {
  top: 0;
  left: 0;
}

#thrust {
  top: 0;
  left: 90px;
}

#thrusters {
  top: 190px;
  left: 0;
}

#yaw {
  top: 140px;
  left: 200px;
}

#stick {
  top: 190px;
  left: 200px;
}

/*******
 BOOST    CHAFF
 ECM      SCB
 HEAT     FA-OFF
 *******/
#buttons {
  top: 0;
  left: 200px;
}

#boost {
  top: 0;
  left: 0px;
}

#chaff {
  top: 0;
  left: 60px;
}

#ecm {
  top: 40px;
  left: 0px;
}

#shield-charge-boost {
  top: 40px;
  left: 60px;
}

#heat-sink {
  top: 80px;
  left: 0;
}

#flight-assist {
  top: 80px;
  left: 60px;
}
